.singleCard img {
    min-height: 200px !important;
        max-height: 200px !important;
        object-fit: cover;
        object-position: center;
}
.singleCard div>div {
    justify-content: space-between;
}

#bottomBtns {
    justify-content: space-between;
}